# Environment variables
.env
.env.local
.env.*.local

# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class
*.pyo

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE
.vscode/
.idea/
pyrightconfig.json

# OS
.DS_Store
Thumbs.db

# Logs
*.log
